# _Laboratorio 3_

##### **Sandra Anabelly Ramos Mutaz**
##### **Gladys Andrea Rodríguez Guerrero**

## Parte 1

### Ejercicio 1:

Programa que recibe de parámetro un número de segundos y que despliegue en pantalla, las horas, minutos y segundos que representan

In [ ]:
try: 
  seg = int(input("Ingrese los segundos: "))
  print("")
  
  hora = int(seg /(60*60))
  seg = seg % (60*60)
  minu = int(seg /60)
  seg = int(seg % 60)

  print(hora, " horas ", minu, " minutos ", seg, " segundos ")

except(ValueError):
  print("")
  print("Datos no validos")

Ingrese los segundos: 2743

0  horas  45  minutos  43  segundos

### Ejercicio 2:

Haga una función que dado un numero entre 1 y 20. Y un carácter cualquiera
despliegue cuatro patrones triangulares

In [ ]:
numero = int(input("Ingrese un número: "))
caracter = input("Carácter a utilizar: ")


for i in range(numero+1):
    print(caracter*i)

for i in range(numero+1):
    espacio = numero - i
    print(' ' * espacio + caracter * i)
print("")
for i in range(numero,0,-1):
    espacio = numero - i
    print(caracter * i + ' ' * espacio)
    
print("")

for i in range(numero,0,-1):
    espacio = numero - i
    print(' ' * espacio + caracter * i)
    
print("")

Ingrese un número:  5
Carácter a utilizar:  $

$
$$
$$$
$$$$
$$$$$

    $
   $$
  $$$
 $$$$
$$$$$

$$$$$
$$$$
$$$
$$
$

$$$$$
 $$$$
  $$$
   $$
    $

In [ ]:
def triangulo1 (numero,caracter):
      for i in range(1,numero+1,1):
          print(caracter*i)

def triangulo2 (numero,caracter):
      for i in range(numero+1):
          espacio = numero - i
          print(' ' * espacio + caracter * i)
          
def triangulo3 (numero,caracter):
      for i in range(numero,0,-1):
          espacio = numero - i
          print(caracter * i + ' ' * espacio)
      
def triangulo4 (numero,caracter):
      for i in range(numero,0,-1):
          espacio = numero - i
          print(' ' * espacio + caracter * i)

try:
    numero = int(input("Ingrese un número: "))
    caracter = input("Carácter a utilizar: ")
    
    if((numero >= 1) & (numero <= 20)):

      triangulo1(numero,caracter)
      triangulo2(numero,caracter)
      print("")
      triangulo3(numero,caracter)
      print("")
      triangulo4(numero,caracter)
    else:
      print("No es un valor entre 1 - 20")

except(ValueError):
  print("")
  print("Datos no validos")

Ingrese un número: 5
Carácter a utilizar: *
*
**
***
****
*****

    *
   **
  ***
 ****
*****

*****
****
***
**
*

*****
 ****
  ***
   **
    *

### Ejercicio 3:

Programa dado que la fecha de nacimiento de una persona, despliegue la edad de la persona en años, meses y días.

In [ ]:
from datetime import date

try:
  dia = int(input("Ingrese una dia: "))
  mes = int(input("Ingrese una mes: "))
  anio = int(input("Ingrese una anio: "))

  fechaNac = date(anio,mes,dia)
  fechaHoy = date.today()
  difEdad = fechaHoy - fechaNac
  edadAnio = int(difEdad.days/365)

  if((fechaNac.month, fechaNac.day) >= (fechaHoy.month, fechaHoy.day)):
      edadMes = 12-(fechaNac.month - fechaHoy.month)
  else:
      edadMes = fechaNac.month - fechaHoy.month
      
  if((fechaNac.day >= fechaHoy.day) & (fechaHoy.month in (1,3,5,7,8,10,12))):
      edadDias = 31 - fechaNac.day
      edadMes = edadMes - 1
  elif((fechaNac.day >= fechaHoy.day) & (fechaHoy.month in (4,6,9,11))):
      edadDias = 30 - fechaNac.day
      edadMes = edadMes - 1
  else:
      edadDias = fechaHoy.day - fechaNac.day - 1

  print(edadAnio, " años ", edadMes, " meses ", edadDias, "días")

except(ValueError):
  print("")
  print("Datos no validos")

Ingrese una dia: 15
Ingrese una mes: 07
Ingrese una anio: 2018
2  años  7  meses  16 días

## Parte 2

### Ejercicio 1:

Escriba una función en Python que dada una tupla de elementos (numeros o letras) esta se convierta a un string

In [ ]:
def string (a):
    texto = ''.join(a)
    
    print(texto)
try:
  ##a = (10, 20, 40, 5, 70)
  a = ('10', '20', '40', '5', '70')
  ##a = ('H','o','l','a')

  string(a)

except(ValueError):
  print("")
  print("Datos no validos")

102040570

In [ ]:
def string (a):
  str = ''
  for i in a:
    str = str + i
  print(str)

try:
  ##a = (10, 20, 40, 5, 70)
  ##a = ('10', '20', '40', '5', '70')
  a = ('p', 'y', 't', 'h', 'o', 'n')

  string(a)

except(ValueError):
  print("")
  print("Datos no validos")

python

### Ejercicio 2:
Cree un programa en Python que dada una lista de tuplas, elimine las tuplas que están vacías.

In [ ]:
try:
  a = [(), (), ('X', ), ('a', 'b'), ('a', 'b', 'c'), ('d')]

  a = [t for t in a if t]

  print(a)
  
except(ValueError):
  print("")
  print("Datos no validos")

[('X',), ('a', 'b'), ('a', 'b', 'c'), 'd']

### Ejercicio 3:
Cree una función que dada una tupla de tuplas con numeros, produzca una tupla con el promedio de cada tupla individual

In [38]:
lista =  ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32))
##lista = [[10, 10, 10, 12], [30, 45, 56, 45], [81, 80, 39, 32]]

def promedio(numeros):
    promedio = 0
    for numero in numeros:
        promedio += numero
    promedio = promedio / len(numeros)
    return promedio 

salida = []

for i in lista:
    salida.append(promedio(i))

print(salida)

[10.5, 44.0, 58.0]